# Node dependencies
node_modules/

# Environment variables (all .env files)
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/


sql_tables.txt

student-management-syste-c5674-firebase-adminsdk-fbsvc-a393842b32.json